.dashboard-home.container-pushup
  .groups-box.span5
    .page-header
      %h1 Available Groups

    %table.groups-list{'cell-spacing' => '6px'}
      - @groups.each do |group|
        %tr
          %th{align: 'left'}
            %acronym{rel: 'tooltip', title: (group.topic.present? ? "Active Topic: #{group.topic.content}" : '')}
              = group.name

          %td
            = link_to "Join", discussion_group_path(group),
                      :class => "btn btn-primary btn-small"

            - if current_user.is_admin?
              = link_to "Manage Participants", manage_discussion_group_path(group),
                        :class => "btn btn-primary btn-mini"

              = link_to "Edit", edit_discussion_group_path(group),
                                    :class => "btn btn-primary btn-mini"
              = link_to "Destroy", discussion_group_path(group),
                        :confirm => 'Are you sure?', :method => :delete,
                        :class => "btn btn-danger btn-mini"

    - if current_user.is_admin?
      %hr/
      = link_to 'Create Group', new_discussion_group_path, class: 'btn'


  .topic-list.span5
    .page-header
      %h3 Browse messages history by topics

    - options = @topics.collect{|t| [t.content, t.id]}
    - options.unshift(["Select a Topic", 0])
    = select_tag(:dashboard_topic, options_for_select(options), class: 'span4')
    .messages-list.well.span4{style: 'display:none'}

.clearfix





