.dashboard-home
  .page-header
    %h1 Available Groups

  %table.groups-list{'cell-spacing' => '6px'}
    - @groups.each do |group|
      %tr
        %th{align: 'left'}= group.name
        %td
          = link_to "Join", discussion_group_path(group),
                    :class => "btn btn-primary btn-small"

          - if current_user.is_admin?
            = link_to "Manage Participants", manage_discussion_group_path(group),
                      :class => "btn btn-primary btn-mini"

            = link_to "Edit", edit_discussion_group_path(group),
                                  :class => "btn btn-primary btn-mini"
            = link_to "Destroy", discussion_group_path(group),
                      :confirm => 'Are you sure?', :method => :delete,
                      :class => "btn btn-danger btn-mini"

  - if current_user.is_admin?
    %hr/
    = link_to 'Create Group', new_discussion_group_path, class: 'btn'


  .row
    .topic-list
      %hr
      %strong Select a Topic
      = select_tag(:dashboard_topic, options_for_select(@topics.collect{|t| [t.content, t.id]}))
      .messages.span9.well
        =  render "topics", :topic => @topic





