%section
  .hero-unit.topic-view
    %h1
      = @group.name
      %a.btn.btn-small.edit-topic{href: '#create-topic', 'data-toggle' => 'modal'}
        Edit Topic
        %i.icon.icon-pencil

    %p
      %dl.dl-horizontal
        %dt Current Topic
        %dd.topic{id: @group.id}= @group.topic.present? ? @group.topic.content : 'No topic is selected.'

        %dt Participants
        %dd= @group.users.map(&:full_name).join(', ')
      .clearfix

    #create-topic.modal{style: 'display: none;'}
      .modal-header
        %button.close{'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
        %h3 Set new Topic

        .modal-body
          %textarea.span5.topic-text{name: "topic", placeholder: "Enter a new topic", autofocus: true}
        .modal-footer
          .btn.btn-primary.change-topic{'data-dismiss' => 'modal'} Change
  .clearfix
%section
  .messages
    .span12
      = render @messages
    .clearfix

%section
  .message-box.small
    = render 'messages/form'

= subscribe_to "/#{@group.id}"


