.page-header.topic-view
  %h1= @group.name

  .topic.well{id: @group.id}
    %strong Current Topic:

    - if @group.topic.present?
      = @group.topic.content
    - else
      No topic is selected.

  %a.btn.btn-.btn-small.edit-topic{href: '#create-topic',
                                   'data-toggle' => 'modal'} Edit

  #create-topic.modal.span4{style: 'display: none; width:500px'}
    .modal-header
      %button.close{'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
      %h3 Set new Topic

      .modal-body
        %textarea.topic-text{name: "topic", placeholder: "Enter a new topic"}
      .modal-footer
        .btn.btn-primary.change-topic{'data-dismiss' => 'modal'} Change

.row
  .messages.span9
    - @messages.each do |message|
      = render "discussion_groups/message", :message => message

    .clearfix

  .participants.span3
    .well.sidebar-nav
      %h3 Members
      %ul.nav.nav-list
        - @group.users.each do |user|
          %li=user.full_name

.navbar.navbar-fixed-bottom.message-box
  .container
    = form_for Message.new, :remote => true  do |f|
      = f.hidden_field :discussion_group_id, value: @group.id
      = f.text_area :content, :id => "send_message", :rows => "2", class: 'span9'
      = f.submit 'Send', class: "btn btn-primary btn-large"

= subscribe_to "/#{@group.id}"


